## 1. Orchestra Celebration
<p>The New York Philharmonic is one of America's largest orchestras. In honor of its many famous musicians, the director is planning a special event. She wants to hold a concert to celebrate the top soloists from its history. You have been asked to determine which soloists should receive recognition.</p>
<p>The director has given you the following requirements:</p>
<ul>
<li><p>The results should only include the top 1% of soloists calculated by the total number of concerts performed.</p></li>
<li><p>Limit your results to entries where the orchestra is 'New York Philharmonic' and the event type is 'Subscription Season'. Soloist performances in other orchestras or event types should not count towards the calculation of the top soloists.</p></li>
<li><p>The director is only interested in individual soloists. You will need to exclude all of the following soloists: 'Chorus', 'No Soloist', 'New York Choral Artists', and 'Schola Cantorum of NY'. You should also exclude any soloist with 'choir' in the name.</p></li>
</ul>
<p>Your result should contain the following columns. It should meet all requirements as described.</p>
<table>
<thead>
<tr>
<th>column</th>
<th>requirements</th>
</tr>
</thead>
<tbody>
<tr>
<td>name</td>
<td>The name of the soloist, with the first name followed by the last name (e.g., Jane Smith). Please note that in the soloists table, names are in reverse order (last name, first name).</td>
</tr>
<tr>
<td>first_date</td>
<td>The first date the soloist ever performed with the orchestra, in the format '01 Jan 2015' (i.e., month as an integer, short month name, and year as an integer).</td>
</tr>
<tr>
<td>last_date</td>
<td>The last date the soloist ever performed with the orchestra, in the format '01 Jan 2015' (i.e., month as an integer, short month name, and year as an integer).</td>
</tr>
<tr>
<td>total_concerts</td>
<td>The total number of concerts the soloist performed.</td>
</tr>
</tbody>
</table>
<p>Order your results by the total number of concerts performed in descending order, and then by soloist name in alphabetical order. The data you will need is available in the two tables detailed in the schema below.</p>
<h5 id="databaseschema">Database Schema</h5>
<p><img src="https://assets.datacamp.com/production/repositories/5979/datasets/cad99976082fa05e47621975dc02b4b39c8400ba/symph3.PNG" alt="Database Schema" width="400px"></p>

#### Exercise Developement
___

##### Output Requirements

1. NAME
2. FIST_DATE
3. LAST_DATE
4. TOTAL_CONCERTS

##### Conditions

1. Top 1% by number total of concerts
2. Restricted to Orchestra: 'New York Philharmonic' - Event type: 'Subscription Season' - Not counting other types for condition 1.
3. Restricted to individual soloists - Excluding 'Chorus', 'No Soloist', 'New York Choral Artists', 'Schola Cantorum of NY'. 
4. Exclude any soloist with 'choir' in the name.
5. Order by total number of concerts DESC, and by name ALPHABETICAL.

#### 1. Exploration

In [158]:
%%sql
postgresql:///orchestra

'Connected: @orchestra'

In [159]:
%%sql

-- Overview de la tabla SOLOISTS

SELECT *
FROM soloists
LIMIT 10

 * postgresql:///orchestra
10 rows affected.

[(0, 'Soprano', 'Otto, Antoinette', 'S', '1842-43', 3853, '38e072a7-8fc9-4f9a-8eac-3957905c0002'),
 (1, 'Piano', 'Scharfenberg, William', 'A', '1842-43', 3853, '38e072a7-8fc9-4f9a-8eac-3957905c0002'),
 (2, 'Violin', 'Hill, Ureli Corelli', 'A', '1842-43', 3853, '38e072a7-8fc9-4f9a-8eac-3957905c0002'),
 (3, 'Viola', 'Derwort, G. H.', 'A', '1842-43', 3853, '38e072a7-8fc9-4f9a-8eac-3957905c0002'),
 (4, 'Cello', 'Boucher, Alfred', 'A', '1842-43', 3853, '38e072a7-8fc9-4f9a-8eac-3957905c0002'),
 (5, 'Contrabass', 'Rosier, F. W.', 'A', '1842-43', 3853, '38e072a7-8fc9-4f9a-8eac-3957905c0002'),
 (7, 'Tenor', 'Horn, Charles Edward', 'S', '1842-43', 3853, '38e072a7-8fc9-4f9a-8eac-3957905c0002'),
 (10, 'Soprano', 'Otto, Antoinette', 'S', '1842-43', 5178, 'c7b2b95c-5e0b-431c-a340-5b37fc860b34'),
 (11, 'Cello', 'Boucher, Alfred', 'S', '1842-43', 5178, 'c7b2b95c-5e0b-431c-a340-5b37fc860b34'),
 (13, 'Piano', 'Timm, Henry C.', 'S', '1842-43', 5178, 'c7b2b95c-5e0b-431c-a340-5b37fc860b34')]

In [160]:
%%sql

-- Overview de la tabla CONCERTS

SELECT *
FROM concerts
LIMIT 10

 * postgresql:///orchestra
10 rows affected.

[(0, '1842-12-07T05:00:00Z', 'Manhattan, NY', '8:00PM', 'Apollo Rooms', 'Subscription Season', '1842-43', 3853, 'New York Philharmonic', '38e072a7-8fc9-4f9a-8eac-3957905c0002'),
 (1, '1843-02-18T05:00:00Z', 'Manhattan, NY', '8:00PM', 'Apollo Rooms', 'Subscription Season', '1842-43', 5178, 'New York Philharmonic', 'c7b2b95c-5e0b-431c-a340-5b37fc860b34'),
 (2, '1843-04-07T05:00:00Z', 'Manhattan, NY', '8:00PM', 'Apollo Rooms', 'Special', '1842-43', 10785, 'Musicians from the New York Philharmonic', '894e1a52-1ae5-4fa7-aec0-b99997555a37'),
 (3, '1843-04-22T05:00:00Z', 'Manhattan, NY', '8:00PM', 'Apollo Rooms', 'Subscription Season', '1842-43', 5887, 'New York Philharmonic', '34ec2c2b-3297-4716-9831-b538310462b7'),
 (4, '1843-11-18T05:00:00Z', 'Manhattan, NY', 'None', 'Apollo Rooms', 'Subscription Season', '1843-44', 305, 'New York Philharmonic', '610a4acc-94e4-4cd6-bdc1-8ad020edc7e9'),
 (5, '1844-01-13T05:00:00Z', 'Manhattan, NY', '8:00PM', 'Apollo Rooms', 'Subscription Season', '1843-44', 3368, 'New York Philharmonic', '47b6e9e8-3b18-49ea-ae2a-b9b0ca18902c'),
 (6, '1844-03-16T05:00:00Z', 'Manhattan, NY', 'None', 'Apollo Rooms', 'Subscription Season', '1843-44', 4226, 'New York Philharmonic', '5e533e4f-d4ac-4aaa-b8d2-e189f6806655'),
 (7, '1844-05-18T05:00:00Z', 'Manhattan, NY', 'None', 'Apollo Rooms', 'Subscription Season', '1843-44', 5087, 'New York Philharmonic', '7550f75e-5c0c-4519-9196-05a6c4e2612c'),
 (8, '1844-11-16T05:00:00Z', 'Manhattan, NY', '8:00PM', 'Apollo Rooms', 'Subscription Season', '1844-45', 6310, 'New York Philharmonic', '91f716fc-090d-4c3b-85da-41122eb3fe96'),
 (9, '1845-01-11T05:00:00Z', 'Manhattan, NY', '8:00PM', 'Apollo Rooms', 'Subscription Season', '1844-45', 1979, 'New York Philharmonic', '253d22e1-9d44-410c-ae06-61abe434e5ec')]

#### 2. Solution

In [169]:
%%sql 


-- We create a CTE so we can clean formats a priori

WITH preCTE AS
   (  
    SELECT MIN(CAST(a.date AS date)) AS first_date, 
    MAX(CAST(a.date AS date)) AS last_date,
        COUNT(a.id) AS total_concerts,
        CONCAT (split_part(soloist_name,',',2),' ',split_part(soloist_name,',',1)) AS name
       
    FROM concerts a
       
    INNER JOIN soloists b ON a.id = b.id
       
    WHERE orchestra = 'New York Philharmonic' 
    AND soloist_instrument NOT IN ( 'Chorus', 'No Soloist',
                                 'New York Choral Artists','Schola Cantorum of NY')
    AND soloist_name NOT IN ('%choir%' ,'No Soloist')
    AND eventtype = 'Subscription Season'
       
    Group by b.soloist_name
   )

-- Corpus
SELECT name,
    to_char(first_date, 'DD Mon YYYY') AS first_date,
    to_char(last_date, 'DD Mon YYYY') AS last_date,
    total_concerts
        
FROM preCTE

ORDER BY total_concerts DESC, name ASC


-- 1% Only
LIMIT (SELECT (COUNT(name)*0.01)::INT FROM preCTE)

 * postgresql:///orchestra
29 rows affected.

[(' Glenn Dicterow', '16 Oct 1980', '25 Jan 2014', 277),
 (' Philip Smith', '08 Nov 1979', '17 Dec 2011', 212),
 (' Philip Myers', '24 Jan 1980', '07 Nov 2015', 193),
 (' Stanley Drucker', '12 Oct 1961', '09 Jun 2009', 186),
 (' John Corigliano', '17 Dec 1921', '18 Apr 1966', 172),
 (' Lorne Munroe', '22 Oct 1964', '03 Feb 1996', 145),
 (' Carter Brey', '27 Nov 1996', '08 Jun 2017', 129),
 (' Thomas Stacy', '19 Apr 1973', '14 Mar 2009', 129),
 (' Joseph Robinson', '30 Nov 1978', '25 Jan 2003', 119),
 (' Pinchas Zukerman', '05 Feb 1969', '12 Jan 2013', 110),
 (' Scipione Guidi', '11 Dec 1921', '12 Mar 1931', 101),
 (' Emanuel Ax', '29 Sep 1977', '07 Jan 2017', 99),
 (' Rudolf Serkin', '20 Feb 1936', '14 Sep 1983', 99),
 (' Judith LeClair', '11 Mar 1982', '07 Nov 2015', 95),
 (' Mishel Piastro', '18 Nov 1931', '15 Jan 1956', 92),
 (' Isaac Stern', '07 Dec 1944', '10 Dec 1992', 91),
 (' Harold Gomberg', '06 Apr 1944', '19 Dec 1981', 88),
 (' Alicia de Larrocha', '29 Dec 1965', '18 Oct 2003', 85),
 (' Yefim Bronfman', '21 Sep 1978', '28 Jan 2017', 82),
 (' Zino Francescatti', '19 Nov 1939', '16 Dec 1975', 82),
 (' Rudolf Firkusny', '28 Oct 1943', '29 Oct 1991', 80),
 (' Robert Casadesus', '20 Jan 1935', '01 Dec 1969', 79),
 (' The American Boychoir', '14 Sep 1990', '22 Sep 2009', 79),
 (' John Wummer', '15 Apr 1943', '30 May 1965', 76),
 (' Andre (André) Watts', '31 Jan 1963', '11 Dec 2012', 75),
 (' Charles Rex', '16 Feb 1981', '17 Feb 1998', 72),
 (' Cynthia Phelps', '10 Dec 1992', '08 Jun 2017', 71),
 (' Nathan Milstein', '23 Jan 1930', '23 Oct 1982', 67),
 (' Itzhak Perlman', '09 May 1965', '28 Sep 2010', 64)]